table, th, td {
    border: 2px solid #668ba4;
    
  }

  table {
    width: 60vw;
  }

  thead {
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 19px;
    background-color: #668ba4;
  }


  td {
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size: 16px;
    background-color: #F8D2B6;
    color: #3B4A6B
    
  }

  body {
    background-color: #FDFFCD;
  
  }


  #table-place {

text-align: center;
font-size: large;
margin-top: 3vh;
display: flex;
align-items: center;
justify-content: center;

}


#header-ap-place {
  text-align: center;
  margin-top: 3vh;
  font-size: 23px;
  font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  color: #393939



}